<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!---- TITLE -->
    <title>Wallet</title>

    <!---- LOGO SHORTCUT -->
    <link rel="shortcut icon" href="" />

    <!---- TAILWINDCSS  -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />

    <!---- MANUAL CSS -->
    <link rel="stylesheet" href="../static/assets/style/index.css" />

    <!---- SCRIPTS -->
  </head>
  <body class="bg-black-alt font-sans leading-normal tracking-normal">
    <nav id="header" class="bg-gray-900 fixed w-full z-10 top-0 shadow">
      <div
        class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0"
      >
        <div class="w-1/2 pl-2 md:pl-0">
          <a
            class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold"
            href="/"
          >
            BITCOIN PRICE PREDICTION
          </a>
        </div>
        <div class="w-1/2 pr-0">
          <div class="flex relative inline-block float-right">
            <div class="relative text-sm text-gray-100">
              <button
                id="userButton"
                class="flex items-center focus:outline-none mr-3"
              >
                <img
                  class="w-8 h-8 rounded-full mr-4"
                  src="../static/assets/image/default.jpg"
                  alt="Avatar of User"
                />
                <span class="hidden md:inline-block text-gray-100"
                  >Hi, User</span
                >
                <svg
                  class="pl-2 h-2 fill-current text-gray-100"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 129 129"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  enable-background="new 0 0 129 129"
                >
                  <g>
                    <path
                      d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"
                    />
                  </g>
                </svg>
              </button>
              <div
                id="userMenu"
                class="bg-gray-900 rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible"
              >
                <ul class="list-reset">
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline"
                      >My account</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline"
                      >Wallet</a
                    >
                  </li>
                  <li><hr class="border-t mx-2 border-gray-400" /></li>
                  <li>
                    <a
                      href="/signin"
                      class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline"
                      >Login</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-900 z-20"
          id="nav-content"
        >
          <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
            <li class="mr-6 my-2 md:my-0">
              <a
                href="/"
                class="block py-1 md:py-3 pl-1 align-middle text-blue-400 no-underline hover:text-gray-100 border-b-2 border-blue-400 hover:border-blue-400"
              >
                <i class="fas fa-home fa-fw mr-3 text-blue-400"></i
                ><span class="pb-1 md:pb-0 text-sm">Home</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="/news"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-pink-400"
              >
                <i class="fas fa-tasks fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">News</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-purple-400"
              >
                <i class="fa fa-envelope fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">Messages</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-green-400"
              >
                <i class="fas fa-chart-area fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">Analytics</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-red-400"
              >
                <i class="fa fa-wallet fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">Wallet</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container w-full mx-auto pt-20">
      <div
        class="w-full items-center px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal"
      >
        <br /><br /><br /><br /><br />
        <div class="center">
          <img src="https://images.ctfassets.net/q5ulk4bp65r7/3GXsKOhU34b8g8FYMf2Y6x/991f9abe5d7fc74b662095a6ac20c17e/Learn_Illustration_What_is_a_Crypto_Wallet.jpg?w=768&fm=png" style="height: auto;width: auto;">
        </div>
        <h1
          id="typewriter"
          style="font-size: 200%; font-weight: 700; color: #00e1d6 !important"
          class="text-white text-center"
        ></h1>
        <br /><br />
        <div class="text-center">
            <p style="color: #00bfe3;font-size: medium;font-size: large;align-content: center;" >
                Crypto wallets keep your private keys – the passwords that give you access to your cryptocurrencies – safe and accessible, allowing you to send and receive cryptocurrencies like Bitcoin and Ethereum. They come in many forms, from hardware wallets like Ledger (which looks like a USB stick) to mobile apps like Coinbase Wallet, which makes using crypto as easy as shopping with a credit card online.
            </p>
            <br>
            <br>
            <h1 style="font-size: xx-large;color: #00bfe3"><b>Understanding Bitcoin Wallets</b></h1>
            <div style="margin-left: 550px;">
              <img src="https://media.gettyimages.com/photos/bitcoin-picture-id913662740?k=20&m=913662740&s=612x612&w=0&h=xi1bR281Iu99LeOcYOE5aj8fb2t02zmrB-4NYAkA5Q4=" style="height: 350px;width: 450px;">
            </div><br>
            <p style="color: #00bfe3;font-size: medium;font-size: large;align-content: center;" >
              A Bitcoin wallet is a device or program that can interact with the Bitcoin blockchain. Although it is common to think of these wallets "storing" Bitcoins, a Bitcoin wallet actually represents cryptographic control of a blockchain address. 
              <br>

Each Bitcoin wallet contains a set of secret numbers, or private keys, corresponding to the user's blockchain address book. These keys are used to sign Bitcoin transactions, effectively giving the user control over the bitcoins in that address. If an attacker can steal a wallet's private keys, they can move the Bitcoins in that address to their own wallet.
          </p><br><br>
          <h1 style="font-size: xx-large;color: #00bfe3"><b>Types of Bitcoin Wallets</b></h1><br>
          <div style="margin-left: 530px;">
            <img src="https://grundigit.com/wp-content/uploads/2018/08/bigstock-Cryptocurrency-Wallet-Icon-Set-237456352-1024x1024.jpg" style="height: 450px;width: 550px;">
          </div><br>
          <p style="color: #00bfe3;font-size: medium;font-size: large;align-content: center;">
            The main types are desktop wallets, mobile wallets, web wallets, and hardware wallets. <br><br>
            <b style="font-size: x-large;text-align: left;"><u>Desktop Wallets</u> </b> <br>
Desktop wallets are installed on a desktop or laptop computer and provide the user with complete control over the wallet. Some desktop wallets also include additional functionality, such as node software or exchange integration.
<br>
However, desktop wallets are considered relatively insecure, due to the danger that the computer could be compromised.  Some well-known desktop wallets are Bitcoin Core, Armory, Hive OS X, and Electrum. <br> <br>
<b style="font-size: x-large;text-align: left;"><u>Mobile Wallets</u> </b> <br>
Mobile wallets perform the same functions as a desktop wallet, but on a smartphone or other mobile device. Many mobile wallets can facilitate quick payments in physical stores through near field communication (NFC) or by scanning a QR code.<br>
Mobile wallets tend to be compatible with either iOS or Android. Bitcoin Wallet, Hive Android, and Mycelium Bitcoin Wallet are examples of mobile wallets. There have been many cases of malware disguised as Bitcoin wallets, so it is advisable to research carefully before deciding which one to use. <br> <br>
<b style="font-size: x-large;text-align: left;"><u>Web Wallets</u> </b> <br>
A web wallet is an online service that can send and store cryptocurrency on your behalf. The main advantage of web wallets is that they can be accessed anywhere, from any device, as easily as checking your email. <br>
However, security is a major concern. In addition to the risks of malware and phishing to steal users' passwords, there is also significant counterparty risk. Many Bitcoin users have logged in to a third-party service, only to find out that their Bitcoins have vanished. <br> <br>
<b style="font-size: x-large;text-align: left;"><u>Hardware Wallets</u> </b> <br>
Hardware wallets are by far the most secure type of Bitcoin wallet, as they store private keys on a physical device that cannot access the Internet. These devices resemble a USB drive. When the user wishes to make a Bitcoin transaction on their computer, they plug in the hardware wallet, which can sign transactions without compromising the user's private keys. <br>
Hardware wallets are practically immune to virus attacks, and successful thefts have been rare. These devices often cost between $100 to $200. Ledger and Trezor are both well-known hardware wallet manufacturers. <br> <br>
          </p>

            
            <br><br>

          <a
            class="get_started_button"
            href="https://bitcoin.org/en/choose-your-wallet?step=1"
            target="_blank"
            >To Know More!</a
          >
        </div>
      </div>
    </div>

    <!-- Script file -->
    <script src="../static/assets/script/wallet.js"></script>

    <script>
      /*Toggle dropdown list*/
      /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

      var userMenuDiv = document.getElementById("userMenu");
      var userMenu = document.getElementById("userButton");

      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");

      document.onclick = check;

      function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, userMenu)) {
            // click on the link
            if (userMenuDiv.classList.contains("invisible")) {
              userMenuDiv.classList.remove("invisible");
            } else {
              userMenuDiv.classList.add("invisible");
            }
          } else {
            // click both outside link and outside menu, hide menu
            userMenuDiv.classList.add("invisible");
          }
        }

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, navMenu)) {
            // click on the link
            if (navMenuDiv.classList.contains("hidden")) {
              navMenuDiv.classList.remove("hidden");
            } else {
              navMenuDiv.classList.add("hidden");
            }
          } else {
            // click both outside link and outside menu, hide menu
            navMenuDiv.classList.add("hidden");
          }
        }
      }

      function checkParent(t, elm) {
        while (t.parentNode) {
          if (t == elm) {
            return true;
          }
          t = t.parentNode;
        }
        return false;
      }
    </script>

    <div style="display: none">
      Icons made by<a
        href="https://www.flaticon.com/free-icons/bitcoin"
        title="bitcoin icons"
        >Bitcoin icons created by Creative Stall Premium - Flaticon</a
      >
    </div>
  </body>
</html>
